<div class="header-container">
  <div class="header-touch-bar">
    <div class="logo-container">
      <div class="header-grid">
        <div class="left-head-col">
           <div class="location-pin"></div>
        </div>
        <div class="middle-head-col">
          <p>Surf-Spot</p>
        </div>
        <div class="weather">Today's forcast:</div>
        <div class="right-head-col">
           <a href="" class="log-in">LOG IN</a> 
        </div>
      </div>
    </div>
    <div class="black-back">
      <p class="catch-phrase">LOG IN WITH YOUR DETAILS BELOW</p>
    </div>
    <div class="links">
      <a href="" class="set-location">SET YOUR LOCATION</a>
      <a href="" class="locations">SURF LOCATIONS</a>
      <a href="" class="boards">SURFBOARDS</a>
      <a href="/users/new" class="sign-up">SIGN UP</a>

    </div>
  </div>
</div>


<header class="default">

  <div class ="index_header">
    <img class ="index_header" src="https://images.unsplash.com/photo-1526342003880-544007d45f1f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80" alt="">
      <div class="top-box">
          <div class="thumbnail-text-white">Website Created By: Mitchell O'Brien</div>
          <div class="thumbnail-text-2-white">GA: Software Engineer Student</div>
      </div>
    <div class="bot-box">
          <div class="thumbnail-text-bot">Follow the PROJECT on GitHub <a href="https://github.com/OB-CODE/Surf-spot-SEI-Project-2">HERE</a> </div>
      </div>
  </div>
</header>


<main>

  <div class="sign_up_style">
    <h1>LOG IN</h1>

    <form action="/sessions" method="POST">
    <div>
      <label for="">Email:</label>
      <input type="text" name="email">
    </div>
    <div>
      <label for="">Password:</label>
      <input type="password" name="password">
    </div>

    <button>LOG IN</button>
    </form>

  </div>

</main>

<h1>FEATURE COMING SOON</h1>

